body {
display:flex;
flex-direction: column;
align-items: center;
  font-family: sans-serif;
  background-color: #914ead;
  color: white;
}

h2{
  font-size: 72px;
}

.yellow {
  background-color: #eebc12;
}

.blue {
  background-color: #2d8ed6;
}